In [1]:
# load all necessary imports and modules

import pandas as pd, statsmodels.api as sm, numpy as np, matplotlib.pyplot as plt, seaborn as sns, scipy.stats as stats
from statsmodels.formula.api import ols

## Loading The Dataset

In [4]:
df_salaries = pd.read_csv(r"C:\Users\user\Downloads\IT_salaries.csv")
df_salaries.head()

       S  X  E  M
0  13876  1  1  1
1  11608  1  3  0
2  18701  1  3  1
3  11283  1  2  0
4  11767  1  3  0

## generating the ANOVA table

In [5]:
formula = 'S ~ C(E) + C(M) + X'
lm = ols(formula, df_salaries).fit()
table = sm.stats.anova_lm(lm, typ=2)
print(table)

                sum_sq    df           F        PR(>F)
C(E)      9.152624e+07   2.0   43.351589  7.672450e-11
C(M)      5.075724e+08   1.0  480.825394  2.901444e-24
X         3.380979e+08   1.0  320.281524  5.546313e-21
Residual  4.328072e+07  41.0         NaN           NaN