In [ ]:
#import libraries
import pandas as pd

In [7]:
df = pd.read_csv(r'train_data_cross-sell.csv', encoding='latin1')

#now, rename the column
df.rename(columns={'ÿid': 'id'}, inplace=True)

df.head()

               id  Gender  ...       Life_policy_start_date  Response
0       549771831    Male  ...  Thursday, December 21, 2023         1
1       373583351    Male  ...     Wednesday, June 28, 2023         0
2       933163655  Female  ...   Saturday, December 9, 2023         0
3       698942186  Female  ...       Tuesday, July 25, 2023         0
4       515109822    Male  ...       Saturday, May 13, 2023         0
...           ...     ...  ...                          ...       ...
324461  776020714    Male  ...       Saturday, May 27, 2023         0
324462  907356303    Male  ...   Saturday, October 21, 2023         0
324463  907433446    Male  ...    Friday, September 8, 2023         0
324464  882210005    Male  ...    Wednesday, August 9, 2023         0
324465  215201423  Female  ...   Saturday, November 4, 2023         0

[324466 rows x 12 columns]

# Daily Assignment

Q1. Differentiate between precision and recall.


precision focuses on minimizing false positives, while recall focuses on minimizing false negatives.
Precision can be seen as a measure of quality, and recall as a measure of quantity.

Q2. Between false negatives and false positives what is a type I error and a type II.

A type I error is a false positive, while a type II error is a false negative.