In [ ]:
import pandas as pd 

df = pd.read_csv(r'/Users/apple/Documents/LuxHq/train_data_cross-sell.csv', encoding='latin1')
df.head()

In [ ]:
performance_scores = df.groupby('Agent_name')['Annual_Premium'].sum().reset_index(name='performance_score')
performance_scores

In [7]:
df = df.merge(performance_scores, on = "Agent_name")

performance_scores

           Agent_name  performance_score
0    Achieng Kwamboka              28265
1    Akinyi Chepkorir              40161
2       Akoth Cherono             179598
3        Anyango Auma              18410
4       Atieno Makena             238417
..                ...                ...
150     Wanjiku Akoth              72124
151    Wanjiru Atieno             639684
152   Wanjohi Mbuthia             416928
153   Waruiru Muthama             622739
154      Waweru Chege            6208771

[155 rows x 2 columns]