In [22]:
# load necessary imports and classes

import numpy as np
import pandas as pd

In [23]:
# load the dataset 

temp_data = pd.read_csv(r"C:\Users\user\Documents\min_temp.csv")

temp_data.head() # display the first few rows of the dataset

     Date  Daily_min
0  1/1/81       20.7
1  2/1/81       17.9
2  3/1/81       18.8
3  4/1/81       14.6
4  5/1/81       15.8

In [24]:
# check properties of the temp data

temp_data.info()
print(temp_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3650 non-null   object
 1   Daily_min  3650 non-null   float64
dtypes: float64(1), object(1)
memory usage: 57.2+ KB
     Date  Daily_min
0  1/1/81       20.7
1  2/1/81       17.9
2  3/1/81       18.8
3  4/1/81       14.6
4  5/1/81       15.8

In [25]:
# convert date column to date time
temp_data["Date"] = pd.to_datetime(temp_data["Date"])
temp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3650 non-null   datetime64[ns]
 1   Daily_min  3650 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 57.2 KB

C:\Users\user\AppData\Local\Temp\ipykernel_14612\420390403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  temp_data["Date"] = pd.to_datetime(temp_data["Date"])

In [26]:
# convert columns to numericals

temp_data['Daily_min'] = pd.to_numeric(temp_data['Daily_min'], errors='coerce')

In [27]:
# make date the index 

temp_data.set_index('Date', inplace=True) #removing current index column and setting the date to be the index now.

In [28]:
temp_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3650 entries, 1981-01-01 to 1990-12-31
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Daily_min  3650 non-null   float64
dtypes: float64(1)
memory usage: 57.0 KB

In [29]:
# perform resampling 

temp_monthly = temp_data.resample("MS")
month_mean = temp_monthly.mean()

In [30]:
# display monthly mean 

month_mean.head(15)

            Daily_min
Date
1981-01-01  15.729032
1981-02-01  15.864286
1981-03-01  12.893548
1981-04-01  11.346667
1981-05-01   9.741935
1981-06-01   9.150000
1981-07-01   8.758065
1981-08-01   9.151613
1981-09-01  11.473333
1981-10-01  10.664516
1981-11-01  11.260000
1981-12-01  12.503226
1982-01-01  14.396774
1982-02-01  13.164286
1982-03-01  13.316129