when you import pyforest you dont have to import pandas 

Pyforest is a Python library that automatically imports commonly used data science libraries, such as pandas, numpy, matplotlib, and seaborn. It allows users to use these libraries without explicitly importing them first. If a library has not been imported yet, pyforest will import it when it is first used and add the import statement to the first cell of the Jupyter Notebook or script. This can save time and effort, especially when working on data science projects that require the use of multiple libraries. Pyforest only imports libraries that are actually used in the code, which can help to improve performance.

In [3]:
import pandas as pd 
import numpy as np

In [4]:
f_variable = (1,2,3)

print(type(f_variable))

<class 'tuple'>

In [5]:
s_variable = [1, 2, 3, 4]

print(type(s_variable))

<class 'list'>

In [6]:
t_variable = {1, 2, 3, 4}

print(type(t_variable))

<class 'set'>

In [7]:
f_variable = { 
    "names": ['Peter', 'James', 'Mary', 'Christine'] ,
    "Ages": [25, 32, 22, 35],
    "Occupations": ['Engineer', 'Doctor', 'Teacher', 'Nurse']
}

print(f_variable)

{'names': ['Peter', 'James', 'Mary', 'Christine'], 'Ages': [25, 32, 22, 35], 'Occupations': ['Engineer', 'Doctor', 'Teacher', 'Nurse']}

In [8]:
df = pd.DataFrame(f_variable)

df

       names  Ages Occupations
0      Peter    25    Engineer
1      James    32      Doctor
2       Mary    22     Teacher
3  Christine    35       Nurse

In [9]:
longer_dict = { 'Names' : [ k  , 'Mary', 'James', 'John'],
                'Age' : [25, 31, 42, 28],
                'Country' : ['USA', 'UK', 'Australia', 'Germany'] 
                }

df = pd.DataFrame(longer_dict)

print(df)

NameError: name 'k' is not defined

In [ ]:
zero_to_three = (0, 1, 2, 3)

for number in zero_to_three:
    print(number)

0
1
2
3

In [3]:
def my_func():
    greetings = ["Hello", "Hi", "Hey"]
    print(greetings)    
    
my_func()

['Hello', 'Hi', 'Hey']

In [13]:
def student(name):
    greet = "Hello, " + name + " , It is great to meet you!"
    print(greet)

In [14]:
student('William')

Hello, William , It is great to meet you!

In [28]:
def calc(a,b,c):
    return a * b + c

calc(5,5,6)

31

In [30]:
my_list =[1,2,3,4,5,6,7,8]
my_second_list = [2,4,6,8,10]

In [33]:
print(len(my_list))
len(my_second_list)

8

5

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Names    4 non-null      object
 1   Age      4 non-null      int64
 2   Country  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [ ]:
df.isnull().sum()

Names      0
Age        0
Country    0
dtype: int64