Q1. What is the difference between a Variable and a Dataframe?


Ans. A data frame is a table with rows and columns. The rows of a data frame are observations. Each column of a data frame contains one of the collected measures of the study.

Q2.Get the mean standard deviation using a for loop.

In [ ]:
import pandas as pd

In [ ]:

# tuple example
first_variable = list[(1,2,3)]

type(first_variable())

In [ ]:

# list example
second_variable = [4,5,6]

second_variable.append(3)

new_variable = second_variable.append(4)

second_variable

In [ ]:

# set example
third_variable = {1,2,3}

third_variable

In [ ]:
# assigning different dtypes variables

collection_of_integers = (1,2,3)
collection_of_floats = (1.0,2.0,3.0)
collection_of_strings = ('a','b','c')
collection_of_lists = ([1,2,3],[4,5,6])
collection_of_tuples = ((1,2,3),(4,5,6))
collection_of_dicts = ({'a':1,'b':2},{'c':3,'d':4})
collection_of_sets = ({1,2,3},{4,5,6})

collection_of_integers

In [ ]:
# dictionary example

my_simple_dictionary = {"Geisha": "2", "Sunlight": "4"}

my_simple_dictionary['Sunlight']

In [ ]:
longer_dict = {'Names' : ['Peter', 'Mary', 'Michael', 'John'],
               'Age' : ['21','22','23','24'],
               'Roles': ['Engineer', 'Analyst','Storyteller', 'Scientist']}

df = pd.DataFrame(longer_dict)

df.to_csv('fileone.csv', header=False, index=False)

df.to_excel('filetwo.xlsx')

In [ ]:
zero_to_three = [0,1,2,3]

for number in zero_to_three:
    print(number)

In [ ]:
# python nested loop example 

x = [1, 2]
y = [4, 5]

for i in x:
  for j in y:
    print(i, j)

In [ ]:
# creating a python function
new_employees = ['steven', 'jan', 'meryl']
def greet_employees():
    welcome_messages = []
    for new_employee in new_employees:
        welcome_messages.append("Hi " + new_employee.title() + " It is lovely to meet you")

    return  welcome_messages   
greet_employees()

In [ ]:
def calc(a,v):
    return a*v

calc(5,4)

In [ ]:
my_list = [54, 54, 54, 55, 56, 57, 57, 58, 58, 60, 60]

length = len(my_list)

length